

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#shop_btn{
  color: red;
  width: 110px;
  height: 40px;
   background-color: white;
   color: black;
   border-radius: 5px;
}
#flex{
  margin: auto;
  width: 90%; 
  padding: 10px 0 0 7px;
  cursor: pointer;
  margin-top: 40px;
}
#textbox{
  width : 50%;
  font-size: 35px;
padding-top: 70px;

}
#imgbox{
  width :50%
}
img{
  width: 100%;
}
#text{
  font-size: 20px;
}

#flex2{
  width : 90%;
  justify-content: space-between;
 margin: auto;
 margin-top: 20px;
}
.h5{

  padding-top: 110px;

}

.flexkid{
display: grid;
grid-template-columns: repeat(4,1fr);
border: 1px solid;
}

#shop_btn2{
  width: 110px;
  height: 40px;
   background-color: white;
   color: black;
   border-radius: 5px;
cursor: pointer;
margin-top: 15px;
}

#flex3{
  margin-top: 90px;
  width: 90%;
 padding-top: 20px;
  cursor: pointer;
  margin: auto;
  justify-content: space-between;
}
#p1{
  text-align: left;
  margin-left: 50px;
}

#rate{
 margin-right: 55%;

} #hov{
  transition: 0.5s all ease-in-out;
}
#hov:hover{
  transform: scale(1.2);
  border-radius: 25px;
}

#flex4{
  margin-top: 90px;
  width: 90%;
 padding-top: 30px;
  cursor: pointer;
  margin: auto;
  justify-content: space-between;

}
#flex4 img{
  width : 90%;
}
#br{
  text-align: left;
  margin-left: 17px;
  font-size: 17px;
}

#flex5{
  width : 90%;
  margin-top : 20px ;
  margin : auto;
  justify-content: space-between;

}

.bx{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
margin-top: 20px;
  height: 140px;
  width: 31%;
text-align: left;
padding-left: 20px;
cursor: pointer;
padding-bottom: 10px;
border-radius: 6px;
}
.logl{
  width: 11%;
  margin-top: 20px;
}

#lbox{
  width: 440px;
  height : 450px;
 
  margin : auto;
  margin-top : 40px;
  padding: 10px;
}

.Checkbox{
  width: 290px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-between;
  border-radius: 10px;
}
.Checkbox input{
 width: 15px;
   
}
.Checkbox label{
  padding-right: 20px;
  padding-top: 3px;
}

#mailbox{
  text-align: left;
  margin-top: 35px;
  margin-left: 20px;
  width: 440px;
  height: 250px;
  font-size: 15px;
}
.put{
 width: 95%;
 font-size: 15px;
 height: 25px;
 margin: auto;
 border-radius: 10px;
 margin-top: 20px;
}

.w{
   width: 15px;
   height: 15px;
  padding: 20px;
}
.get{
  font-size: 17px;
}

#mailbox label{
  margin-left: 12px;
}
.sbtn{
  width : 98%;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-top: 22px;
  cursor: pointer;
  transition: ease-in-out;
}
#sms{
  margin-top: 20px;
}

.sbtn:hover{
 background-color: rgba(0, 0, 0, 0.617);
}